@use '../../src/styles.scss' as *;

.index-page {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: linear-gradient(#F70134, #F50133);

    .main-container {
        height: 70vh;
    }

    .intro-section {

    
        h1 {
            font-family: 'Federo', sans-serif;
            font-size: 190px;
            font-weight: bold;
        }
    }
}